**/__pycache__/*
executions/*
r_experiments/mount.sh
/r_experiments/FeNiMl/alpha0.png
/r_experiments/FeNiMl/alpha1.png
/r_experiments/FeNiMl/combined_plot.pdf
/exports/data.zip
/exports/data2.zip
/r_experiments/FeNiMl/dataset.csv
/r_experiments/FeNiMl/process/ranger_hyperparameters.png
/code/results.csv
/r_experiments/FeNiMl/rf_permutation_improtance.png
/code/my_test_scheduler.py
/r_experiments/FeNiMl/process/Too many glmnet hyperparameters.png
/r_experiments/FeNiMl/process/saves/*
/r_experiments/FeNiMl/process/saves
/r_experiments/FeNiMl/process/catboost_info
/r_experiments/FeNiMl/catboost_info/
/r_experiments/FeNiMl/*.html
/r_experiments/FeNiMl/*.csv
/r_experiments/FeNiMl/*.png
/code/config/config_local.py
/remote_local_exec/simulations/
/remote_local_exec/FeCuNi.eam.alloy
