**/__pycache__/*
/executions/*
/code/results.csv
/code/my_test_scheduler.py
/code/config/config_local.py
/r_experiments/mount.sh
/r_experiments/FeNiMl/catboost_info/
/r_experiments/FeNiMl/**/*.html
/r_experiments/FeNiMl/**/*.csv
/r_experiments/FeNiMl/**/*.png
/remote_local_exec/simulations/
/remote_local_exec/FeCuNi.eam.alloy
/exports/
