#!/bin/bash
#SBATCH --ntasks={{tasks}}
#SBATCH --partition={{partition}}
#SBATCH --time={{time}}
. /etc/profile
module load openmpi-2.1.6 gcc-9.2.0
## /home/gdossantos/Lammps_Stable_Oct2020/lammps-29Oct20/src/lmp_g++_openmpi
cd {{cwd}}
mpirun -np {{tasks}} {{lammps_exec}} < {{lammps_input}} > {{lammps_output}}
