#!/bin/bash
#SBATCH --ntasks={{tasks}}
#SBATCH --partition={{partition}}
#SBATCH --time={{time}}
. /etc/profile
module load openmpi-2.1.6 gcc-9.2.0
cd {{cwd}}
mpirun python3 multi.py {{cmd_args}} > {{output}}

## TAG: {{file_tag}}
